<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <link rel="stylesheet" href="/css/error.css">
    <div class="error-div">
        <h1 class="error-header">ERROR</h1>
        <p class="error-message"><%= error_message %> </p>
    </div>

</body>
</html>