body {
    background-color: darkgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 230px;
    transition: transform 0.2s;
}

form:hover {
    transform: scale(1.05);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    background-color: darkgreen;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.form-a{
    color: darkgreen;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form-a:hover {
    text-decoration: underline;
}
