<header>
    <link rel="stylesheet" href="/css/navbar.css">
    <nav>
        <a  class="navbar-a" href="/">Home</a>
        
        <% if (logged_in) { %>
            <a class="navbar-a" href="/profile">Profile</a>
            <a class="navbar-a" href="/rooms">Rooms</a>
        <% } else { %>
            <a class="navbar-a" href="/login">Login</a>
            <a class="navbar-a" href="/register">Register</a>
        <% } %>
    </nav>
</header>